header {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 350px;
  height: 200px;
}

header li {
  display: inline-block;
  padding-top: 25px;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-right: 15px;
}

main {
  background-image: url(/images/sfondo.jpg?d95998348e42c9fa783a63d43dc473c5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

main img {
  width: 250px;
  height: 250px;
  padding-top: 15px;
}

main h2 {
  color: white;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
}

main .card h3 {
  color: #b7d9e3;
}

main .card:hover {
  transform: scale(1.3);
}

main .container {
  background-image: url(/images/pasta.jpg?5137dcb1048f48caf24b19908ae2bdbb);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

main a {
  color: greenyellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

