header {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 350px;
  height: 200px;
}

header li {
  display: inline-block;
  padding-top: 25px;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-right: 15px;
}

main {
  background-image: url(/images/carbonara-convivenza.jpg?05b6efa12cd1f1f99f674d306688d753);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

main img {
  width: 250px;
  height: 250px;
  padding-top: 15px;
}

main h2 {
  color: purple;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
}

main .card h3 {
  color: #b7d9e3;
}

main .card:hover {
  transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

