main{
    background-image: url('../../img/sfondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    img{
        width: 250px;
        height: 250px;
        padding-top: 15px;
    }
    h2{
      color: white;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 15px;
        h3{
            color: #b7d9e3;
        }
    }
    .card:hover{
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .container{
        background-image: url('../../img/pasta.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
    a{
        color: greenyellow;
    }
}